@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

.rickroll
{
    background-color: #00ace6;
    color: #ffffff;
    font-size: large;
    font-family: Poppins;
}

.whatever
{
    color: #b8006b;
}

.rickastley
{

}