@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

h2 
{
    font-family: poppins;
    font-size: 28px;
}

.rickroll
{
    position: absolute;
    background-color: #00ace6;
    color: #ffffff;
    font-size: large;
    font-family: Poppins;
}

.whatever
{
    color: #b8006b;
    position:sticky;
}

.rickastley
{
    height: 200vh;
    position: sticky;
}

.rickimg
{
    width: 150px;
    height: 150px;
    margin-left: 300px;
    margin-right: 300px;
    border: 8px solid #b8006b;
    padding: 15px;
}